<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">


<div class="login">
    <div class="card shadow-sm" align="center">
        <div class="container-fluid" align="center">
            <img src="../../assets/icone-calendrier.png">
        </div>
        <h1 id="title">Heureux de vous revoir !</h1>
        <hr>
        <form id="formLogin" (ngSubmit)="submit()" [formGroup]="formLogin">
            <div class="form-group">
                <span class="wrongMessage">{{userNotFound}}</span>
                <label for="emailLogin">Email : </label>
                <input type="email" id="emailLogin" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="passwordLogin">Mot de passe : </label>
                <input type="password" id="passwordLogin" class="form-control" formControlName="password">
            </div>
            <input type="submit" value="Let's go !" class="btn" [disabled]="formLogin.invalid">
            <small><a routerLink="/signup">Pas encore de compte ? Inscrivez-vous ici.</a></small>
        </form>
    </div>
</div>