<h1 id="title">Heureux de vous revoir !</h1>
<hr>

<form id="formLogin" (ngSubmit)="submit()" [formGroup]="formLogin">
    <div class="form-group">
        <span class="wrongMessage">{{userNotFound}}</span>
        <label for="emailLogin">Email : </label>
        <input type="email" id="emailLogin" class="form-control" formControlName="email">
    </div>
    <div class="form-group">
        <label for="passwordLogin">Mot de passe : </label>
        <input type="password" id="passwordLogin" class="form-control" formControlName="password">
    </div>
    <input type="submit" value="S'authentifier" class="btn btn-primary" [disabled]="formLogin.invalid">
    <small><a routerLink="/signup">Pas encore de compte ? Inscrivez-vous ici.</a></small>
</form>