<link href="https://fonts.googleapis.com/css2?family=Goldman&display=swap" rel="stylesheet">
<div class="homepage">
  <div class="container-fluid">
    <h1 id="title">WEEEEEEELLLLLLLLLLLLLLLCOME TO THE CALENDAR ! </h1>
  </div>
  <section class="section-2 container-fluid p-0">
    <div class="cover">
      <div class="content text-center">
        <h1>Un calendrier du tonnerre</h1>
         <p>Même le pape approuve !</p>
       </div>
    </div>
  </section>
  <br>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h6>Venez essayer ce fantastique calendrier</h6>
        <h1>TOTALEMENT GRATUIT</h1>
        <p>
          Imaginer par un groupe d'étudiants des plus idiots, ce bijou de simplicité vous fera totalement perdre la tête.
          Une réunion, un cours, un enterrement, grâce à nous, vous n'oublierez plus rien ! Alors, qu'attendez-vous?
        </p>
        <button class="btn btn-dark px-5 m-1" routerLink="/login">Login</button>
        <button class="btn btn-dark px-5 m-1" routerLink="/signup">Sign Up</button>
      </div>
      <div class="col-md-5 col-sm-12 h-25">
        <img src="../../assets/calendar.jpg" alt="calendar">
      </div>
    </div>
  </div>
</div>

