:root {
  --bggradient: linear-gradient(to bottom,#A3BCB6 ,#DADED4);
  --goldman:'Goldman', cursive;
}

.homepage{
  background: linear-gradient(to bottom,#A3BCB6 ,#DADED4);
}

#title {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Goldman', cursive;
}

.cover{
  width:100%;
  height:55vmin;
  background: url("../../assets/calendrierprojet.jpg");
  background-position: -24rem -19rem;
  background-size: 150%;
  position:relative;
}

.cover .content{
  background:rgba(0,0,0,0.7);
  height : 100%;
  width : 100%;
  padding-top: 19vmin;
}

.cover .content>h1{
  font-family: 'Goldman', cursive;
  font-size:6vmin;
  color:whitesmoke;
}

.cover .content>p{
  font-family: 'Goldman', cursive;
  font-size:3vmin;
  color:whitesmoke;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size:2vmin;
  color : #3C403D;
}

button{
  font-family: 'Dancing Script', cursive;
  font-size: 4vmin;
}

h6{
  font-family: 'Montserrat', sans-serif;
  font-size:3vmin;
  color : #3C403D;
}
h4{
  font-family: 'Dancing Script', cursive;
  font-size:9vmin;
  color : #3C403D;
  padding: 0.1em 0em;
  font-weight:bold;
}
button{
  border-radius: 30px;
  font-weight: bold;
}

#navbarText{
  font-family: 'Goldman', cursive;
}

.navbar-brand{
  font-size: 3vmin;
}


.navbar {
  z-index: 99999;
  position: fixed;
  top: 0;
  width: 100%
}
