<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

<div class="signup">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="card shadow-sm">
          <h1 id="title">Inscrivez-vous et synchronisez <br> meetings avec vos amis et vos collègues</h1>
          <hr>

          <form id="formSignUp" (ngSubmit)="submit()" [formGroup]="formSignUp">
            <div class="form-group">
              <label for="emailSignUp">Email : </label>
              <input type="email" id="emailSignUp" tabindex="1" class="form-control" formControlName="email" autocomplete="off"
                     (dblclick)="generateUser()" (focusout)="checkIfUserExists()">
              <span class="wrongMessage">{{userAlreadyExist}}</span>
            </div>
            <div class="form-group shorter">
              <label for="lastNameSignUp">Nom :</label>
              <input type="text" id="lastNameSignUp" tabindex="3" class="form-control" formControlName="lastName" autocomplete="off">
            </div>
            <div class="form-group shorter">
              <label for="firstNameSignUp">Prénom :</label>
              <input type="text" id="firstNameSignUp" tabindex="2" class="form-control" formControlName="firstName" autocomplete="off">
            </div>
            <div class="form-group">
              <label for="userNameSignUp">Pseudonyme : </label>
              <input type="text" id="userNameSignUp" class="form-control" formControlName="userName" autocomplete="off">
            </div>
            <div class="form-group">
              <label for="passwordSignUp">Mot de passe : </label> <span [style.color]="passwordStrengthColor"
                                                                        id="passwordStrength">{{passwordStrength}}</span>
              <input type="password" id="passwordSignUp" class="form-control" formControlName="password"
                     (ngModelChange)="updatePasswordStrength()" (focusout)="checkPassword()">
              <small class=" form-text text-muted">Doit contenir au moins une majuscule et deux chiffres</small>
              <span class="wrongMessage">{{passwordNoCapitalized}}</span>
              <span class="wrongMessage">{{passwordNoNumber}}</span>
            </div>
            <div class="form-group">
              <label for="passwordConfirmSignUp"> Mot de passe (confirmation) : </label>
              <input type="password" id="passwordConfirmSignUp" class="form-control" formControlName="passwordConfirm"
                     (focusout)="checkPasswordMatch()">

              <span class=" wrongMessage">{{passwordNoMatch}}</span>
            </div>
            <input type="submit" value="S'inscrire" class="btn" [disabled]="formSignUp.invalid">
          </form>

        </div>
      </div>
      <div class="col-md-5 col-sm-12 h-25 ">
        <!--<img src="../../assets/signupPic.jpg">-->
        <div class="cover">
          <div class="content text-center">
            <p>Chaque seconde compte !</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
