<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Chronos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" (click)="openModal(Recevedinvitations)">
                    Invitations
                </li>
                <li class="nav-item active" (click)="openModal(inviteSomeOne)">
                    Inviter des amis
                </li>
                <li class="nav-item active">
                    Liste des plannings :
                    <select id="navSelectPlanning" *ngFor="let planning of planningsOfMember">
                        <option value="{{planning.id}}">{{planning.labelPlanning}}</option>
                    </select>
                </li>
            </ul>
            <button type="button" class="btn btn-dark" (click)="logOut()">Se déconnecter</button>
        </div>
    </nav>
</header>



<!-- Modal des invitations reçues -->
<ng-template #Recevedinvitations let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Invitations reçues</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="planningsInvites.length > 0">
            <ul *ngFor="let planning of planningsInvites">
                <ol>
                    {{planning.labelPlanning}}
                    <button class="btn btn-primary" id="{{planning.id}}" style="float: right;"
                        (click)="joinGroup(planning)">Rejoindre</button>
                </ol>
            </ul>
        </div>
        <div *ngIf="planningsInvites.length == 0">
            Vous n'êtes invité à aucun plannings
        </div>
    </div>
</ng-template>


<!-- Modal pour inviter des gens -->
<ng-template #inviteSomeOne let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Invitez un ami dans l'un de vos plannings</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="sendInvitation()" [formGroup]="formInviteUser">
            <span class="errorMessage" *ngIf="userToInviteNotFoundError">L'utilisateur n'a pas été trouvé</span>
            <span class="errorMessage" *ngIf="userToInviteAlreadyInPlanning">L'utilisateur est déjà présent dans ce
                planning ou a déjà été invité</span>
            <span class="validMessage" *ngIf="userToInviteIsInvited">L'utilisateur à bien été invité !</span>
            <div class="form-group">
                <label for="userEmailInvite">Email de votre ami</label>
                <input type="email" class="form-control" id="userEmailInvite" formControlName="userEmailInvite"
                    (ngModelChange)="resetValidMessage()">
            </div>
            <div class="form-group">
                <label for="planningInvite">Planning <small class="form-text text-muted">nécessite d'être
                        modérateur</small> </label>
                <select class="form-control" id="planningInvite" formControlName="idPlanningInvite"
                    *ngFor="let planning of planningsOfGrantedMember">
                    <option [value]="planning.id">{{planning.labelPlanning}}</option>
                </select>
            </div>
            <button type="submit" id="submitInviteUser" class="btn btn-primary">Inviter</button>
        </form>
    </div>
</ng-template>